In [1]:
# github.com/echtr

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
planets = sns.load_dataset("planets")

In [4]:
df = planets.copy()

In [5]:
# 152. bölüm
df.info() # yapısal bilgiler

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [7]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [11]:
df.method = pd.Categorical(df.method) # kategorik olana dönüştürme
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

In [12]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [21]:
# 153. bölüm
df = planets.copy()
df.shape

(1035, 6)

In [22]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [23]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [24]:
df.describe(include="all").T # anlamlı bir sonuç çıkmadı

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
method,1035,10,Radial Velocity,553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number,1035.0,NaN,NaN,NaN,1.785507,1.240976,1.0,1.0,1.0,2.0,7.0
orbital_period,992.0,NaN,NaN,NaN,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,NaN,NaN,NaN,2.638161,3.818617,0.0036,0.229,1.26,3.04,25.0
distance,808.0,NaN,NaN,NaN,264.069282,733.116493,1.35,32.56,55.25,178.5,8500.0
year,1035.0,NaN,NaN,NaN,2009.070531,3.972567,1989.0,2007.0,2010.0,2012.0,2014.0

In [26]:
# 154. bölüm
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [33]:
# eksik değer var mı?
df.isnull().values.any()

True

In [34]:
# hangi değişkende kaçar tane eksik değer var?
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [35]:
# eksik değerler hesaplamasa problem yaratabilir. bu yüzden bir değer atanması gerekebilir.
# df['sütun_ismi'].fillna(değer, inplace = True) => belirlediğimiz sütundaki eksik hücrelere bizim atadığımız değerleri yazıyor

In [37]:
df["orbital_period"].fillna(0, inplace = True)
df.isnull().sum() # o sütunda artık eksik değer yok

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [38]:
# tabiiki bu değer rastgele olamaz. o boşlukları anlamlı bir şekilde doldurmamız gerekir.
df["mass"].fillna(df["mass"].mean(), inplace = True)
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [ ]:
# verisetindeki bütün değerler için fillna() uygulamak istiyorsak kullanımı şu şekilde:
# df.fillna(df.mean(), inplace=True)